.container {
  background-color: #222;
  color: white;
  width: 400px;
  height: 500px;
  border: 1px solid #1DB9C3;
  margin: 20px auto;
  border-radius: 1rem;
  text-align: center;
  overflow-y: scroll;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

::-webkit-scrollbar {
  width: 4px;
  height: 100px;
  transition: 1s;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(0, 255, 0),transparent);
  border-radius: 10px;  
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #1DB9C3,transparent);

}


