@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #414141;
  font-family: 'Poppins', sans-serif;
}

